@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/Main\ bgimage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 145px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 6px;
    background-color: rgb(43, 43, 43);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(255, 255, 255, 0.066);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 6px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    color: white;
    border: 1px solid red;
    cursor: pointer;
    transition: all .5s ease-out;
}

.btn-red:hover {
    background-color: rgb(181, 7, 7);
    border: 1px solid rgb(181, 7, 7);
}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 6px;
    padding: 3px 24px;
    font-size: 14px;
    font-weight: bolder;
    border: 1px solid red;
    cursor: pointer;
    transition: all .5s ease-out;
}

.btn-red-sm:hover {
    background-color: rgb(181, 7, 7);
    border: 1px solid rgb(181, 7, 7);
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 6px;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.image {
    position: relative;
}

.image img {
    width: 401px;
    position: relative;
    z-index: 10;
}

.image video {
    width: 100%;
    height: 100%;
    max-width: 75%;
    max-height: 56%;
    position: absolute;
    background-size: cover;
    top: 20%;
    left: 12%;
    width: 401px;
}

@media screen and (max-width:1300px) {
    .first {
        flex-wrap: wrap;
    }

    .image img {
        width: 305px;
        position: relative;
        z-index: 10;
    }

    .image video {
        width: 100%;
        height: 100%;
        max-width: 75%;
        max-height: 56%;
        position: absolute;
        background-size: cover;
        top: 20%;
        left: 12%;
        width: 305px;
    }
}

.first-third {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}

section.first-third>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first-third>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

section.first-third>div :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.image-vid img {
    width: 401px;
    position: relative;
    z-index: 10;
}

.image-vid {
    position: relative;
}

.image-vid video {
    width: 100%;
    height: 100%;
    max-width: 62%;
    max-height: 51%;
    position: absolute;
    background-size: cover;
    top: 15%;
    left: 19%;
    width: 401px;
}

@media screen and (max-width:1300px) {
    .first-third {
        flex-wrap: wrap;
    }

    .image-vid img {
        width: 305px;
        position: relative;
        z-index: 10;
    }

    .image-vid video {
        width: 100%;
        height: 100%;
        max-width: 62%;
        max-height: 51%;
        position: absolute;
        background-size: cover;
        top: 15%;
        left: 19%;
        width: 305px;
    }
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: rgb(52, 50, 50);
    padding: 24px;
    max-width: 60vw;
    margin: 12px auto;
    cursor: pointer;
    font-size: 24px;
    transition: all .5s ease-out;
}

.faqbox:hover {

    background-color: gray;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    padding: 22px;
}

.footbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
}

.footbtn input {
    background-color: rgba(23, 23, 23, 0.7);
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 6px;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 20px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        grid-gap: 25px;
    }
}

.footer a {
    font-size: 18px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

footer span {
    padding: 34px 0;
}

@media screen and (max-width:1300px) {
        
    nav {
        max-width: 90vw;
    }    
    
    
    .hero> :nth-child(1) {
            font-weight: 900;
            font-size: 32px;
            text-align: center;
        }

        .hero> :nth-child(2) {
            font-weight: 400;
            font-size: 18px;
            text-align: center;
        }

        .hero> :nth-child(3) {
            font-weight: 400;
            font-size: 18px;
            text-align: center;
        }
        .hero-button{
            display: flex;
            flex-direction: column;
        }
        .faq h2 {
            text-align: center;
            font-size: 32px;
            font-weight: bolder;
        }
        .footbtn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
            padding: 24px;
        }
    }